.header {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color:#ff6600;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    padding-bottom: 10px;
    box-shadow: 0px 1px 5px rgb(0, 0, 0);
    color: white;
    z-index: 100;
  }
  
  @media (max-width: 1000px) {
    .header {
      padding-top: 15px;
      font-size: 6.4vw;
    }
  }
  